UNITOUR_MYSQL_ROOT_PASSWORD=your_mysql_root_password
UNITOUR_MYSQL_USERNAME=root
UNITOUR_MYSQL_URL=jdbc:mysql://localhost:3307/uni_tour
UNITOUR_REDIS_HOST=localhost
UNITOUR_REDIS_PORT=6379

UNITOUR_OSS_ENDPOINT=https://oss-cn-beijing.aliyuncs.com
UNITOUR_OSS_ACCESS_KEY_ID=your_access_key_id
UNITOUR_OSS_ACCESS_KEY_SECRET=your_access_key_secret
UNITOUR_OSS_BUCKET_NAME=your_bucket_name
UNITOUR_OSS_PUBLIC_BASE_URL=https://your_bucket_name.oss-cn-beijing.aliyuncs.com
UNITOUR_OSS_AVATAR_DIR=avatars
